<html>
<head>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900|Quicksand:400,700|Questrial" rel="stylesheet" />
    {% load staticfiles %}

<link rel="stylesheet" href="{%  static '.' %}css/bootstrap.min.css">
    <link rel="stylesheet" href="{%  static '.' %}css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="{%  static '.' %}css/style.css">
</head>

<body>

    <script>
                var audioElement = document.createElement('audio');
                audioElement.setAttribute('src', '{% static '.' %}/data/{{ champion.mp3 }}');
                audioElement.play();
    </script>

    <h1>{{ sprava }}</h1><br/>
Spravne:{{ spravne }}<br/>
Nepravne:{{ nespravne }}<br/>
    {% for c in champions %}
    <a href="{% url 'champion' c.name %}"><img width="100px" src="{% static '.' %}data/{{ c.jpg }}"></a></td>
{% endfor %}

</body>
</html>